$color-background-body: white;
$color-background-navbar-toggler: #145294;
$color-background-navbar-dark: #4D92DE;
$color-nav-link: #ffffff;
$color-nav-link-hover: #acd5fd;
$color-navbar-brand: #ffffff;
$color-navbar-brand-hover: #9bcbff;
$color-btn-primary: #F8892A;
$color-btn-primary-hover: #e67717;
$color-scrollbar-track: #4D92DE;
$color-scrollbar-thumb: #ffffff;
$color-h1: #747474;
$color-h2: #2A3068;
$color-h3-p: #8f8f8f;
$color-texto-data: #3E75B2;
$color-container-destacado: #E3FAF5;
$color-nav-link-background: #6BC7B3;
$color-nav-link-active: #277e6b;
$color-input-border: #AFAFAF;
$color-input-background: #FFF;
$color-boton-enviar: #007bff;
$color-boton-enviar-text: #fff;

$font-family-ubuntu: 'Ubuntu', sans-serif;
$font-family-kufam: 'Kufam', sans-serif;

$font-size-h1: 72px;
$font-size-h2: 40px;
$font-size-h2-mobile: 30px;
$font-size-h3: 28px;
$font-size-p: 20px;
$font-size-texto-data: 60px;
$font-size-texto-data-mobile: 50px;
$font-size-texto-data2: 24px;
$font-size-nav-footer: 16px;
$font-size-logo-clinica: 51px;
$font-size-logo-clinica-mobile: 30px;

$line-height-h1: 70px;
$line-height-h2: 44px;
$line-height-h3: 40px;
$line-height-p: 28px;
$line-height-texto-data: 80px;
$line-height-texto-data2: 28px;

$letter-spacing-h1: -1.44px;
$letter-spacing-texto-data: -2px;

$border-radius-scrollbar-thumb: 20px;
$border-radius-servicio: 12.188px;
$border-radius-input: 4px;
$border-radius-boton: 4px;

$padding-col-md-6: 50px 30px;
$padding-col-md-6-mobile: 20px;
$padding-col-md-12-footer: 10px;
$padding-h2: 30px 0;
$padding-h2-mobile: 20px 0;
$padding-container-torre: 20px 0;
$padding-formulario-input: 12px;
$padding-formulario-textarea: 12px;
$padding-boton: 10px 20px;
$padding-logo-clinica: 20px;
$padding-logo-clinica-mobile: 10px;
$padding-container-destacado: 30px 0;
$padding-nav-link: 10px 0px;

$gap-nav-link: 32px;
$gap-button-carousel: 9.6px;
$gap-button-carousel-slider: 9.6px;
$gap-container-torre: 24px;
$gap-container-alianzas: 10px;
$gap-container-testimonios: 10px;
$gap-container-contactanos: 48px;
$gap-formulario: 10px;
$gap-texto-footer: 20px;
$gap-ao-terminos: 16px;
$gap-redes: 16px;
$gap-sub-menu-torre: 32px;

$margin-torre: 20px;
$margin-col-md-4: 20px;
$margin-col-md-4-destacado: 20px;
$margin-h2: 0;
$margin-p: 0;
$margin-h3: 0;
$margin-nav-footer-li: 10px;
$margin-footer-texto: 10px;
$margin-logo-clinica: 20px;
$margin-boton: 16px;
